@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

/* Estilo global para asegurar que modales y dropdowns tengan prioridad */
.vue-modal,
.vue-dropdown,
.modal-backdrop {
  z-index: 9998 !important;
}

/* Asegurar que el dropdown del perfil tenga máxima prioridad */
nav .relative > div.absolute {
  z-index: 9999 !important;
}

/* Si usas algún modal o overlay */
.modal-overlay {
  z-index: 9997 !important;
}
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: initial; /* o center si quieres */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  /* === Scroll personalizado global === */
::-webkit-scrollbar {
  width: 10px; /* ancho de la barra */
  height: 10px; /* alto cuando es horizontal */
}

::-webkit-scrollbar-track {
  background: rgb(0, 6, 110); /* fondo gris claro (similar a bg-light) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #66b2ff; /* azul claro */
  border-radius: 10px;
  border: 2px solid #f1f5f9; /* genera efecto de espacio */
}

::-webkit-scrollbar-thumb:hover {
  background: #3399ff; /* azul un poco más fuerte al pasar el mouse */
}

/* Firefox */
* {
  scrollbar-width: thin; /* delgado */
  scrollbar-color: #66b2ff #003a73; /* thumb y track */
}

}
